@font-face {
  font-family: "Din";
  src: url("../webfonts/din-next-lt-w23-regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  direction: rtl;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Din", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button,
a {
  color: #000;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #999999;
  height: 300px;
}

:target {
  scroll-margin-top: 100px;
}

.filepond--credits {
  display: none !important;
}

.filepond--file {
  direction: ltr !important;
}

.filepond--root {
  margin: 0;
}

.filepond--drop-label.filepond--drop-label label {
  font-size: 14px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.accordion-button {
  box-shadow: none !important;
  padding: 16px 16px;
}

.accordion {
  border: none !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none !important;
}

.accordion-item {
  border-radius: 12px !important;
  overflow: auto;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #5bb12f;
}

.accordion-button {
  text-align: start;
}
.accordion-button .form-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.accordion-button .form-switch input {
  box-shadow: none !important;
}
.accordion-button::after {
  content: "\f107";
  font-family: "Font Awesome 6 pro";
  background-image: none;
  transform: none !important;
  margin-left: 0;
  margin-right: auto;
}
.accordion-button:not(.collapsed)::after {
  content: "\f106";
  background: none;
}

.accordion-body {
  padding: 0 12px 12px;
}
.accordion-body p {
  color: #999999;
  font-size: 16px;
}
.accordion-body p a {
  color: #5bb12f;
}
.accordion-body b {
  font-size: 14px;
  color: #0c2b4b;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: relative;
  z-index: 9;
}
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
}
header.sticky .company_info_bar {
  padding: 0;
  height: 0;
  overflow: hidden;
}
header .company_info_bar {
  background: #0c2b4b;
  height: 50px;
  width: 100%;
  padding: 12px;
}
header .company_info_bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0;
}
header .company_info_bar .container .social_media ul {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .company_info_bar .container .social_media ul a {
  width: 30px;
  height: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
}
header .company_info_bar .container .social_media ul a i {
  font-size: 14px;
}
header .company_info_bar .container .social_media ul a:hover {
  background: #ffffff;
  color: #0c2b4b;
}
header .company_info_bar .container .contact_info ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .company_info_bar .container .contact_info ul a {
  color: #ffffff;
}
header .company_info_bar .container .contact_info ul i {
  color: #ffffff;
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  header .company_info_bar .container {
    flex-direction: column;
    gap: 8px;
  }
}
@media screen and (max-width: 480px) {
  header .company_info_bar {
    height: auto;
  }
}
header nav {
  height: 80px;
  display: flex;
  padding: 0 12px !important;
}
header nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}
header nav .logo img {
  height: 50px;
}
header nav .navigation_links {
  flex: 3;
  height: 100%;
}
header nav .navigation_links .nav_menu {
  display: flex;
  height: 100%;
}
header nav .navigation_links .nav_menu li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .navigation_links .nav_menu li .nav-link {
  color: #0c2b4b;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
header nav .navigation_links .nav_menu a.active {
  color: #5bb12f;
}
header nav .navigation_links .nav_menu a:hover {
  color: #5bb12f;
}
@media (max-width: 992px) {
  header nav .navigation_links {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50%;
    background: #fff;
    right: -50%;
    padding: 40px 0;
    transition: all 0.3s ease-in-out;
  }
  header nav .navigation_links ul {
    flex-direction: column;
  }
  header nav .navigation_links ul li {
    max-height: 60px;
  }
  header nav .navigation_links.show {
    right: 0;
  }
}
header nav .btns {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
header nav .btns .toggle_menu {
  width: 26px;
  height: 26px;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header nav .btns .toggle_menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
header nav .btns .toggle_menu span:nth-child(1) {
  top: 6px;
}
header nav .btns .toggle_menu span:nth-child(2), header nav .btns .toggle_menu span:nth-child(3) {
  top: 12px;
}
header nav .btns .toggle_menu span:nth-child(4) {
  top: 18px;
}
header nav .btns .toggle_menu.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}
header nav .btns .toggle_menu.open span:nth-child(2) {
  transform: rotate(45deg);
}
header nav .btns .toggle_menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}
header nav .btns .toggle_menu.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}
header nav .btns button {
  border: none;
  background: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5bb12f;
  border-radius: 4px;
  width: 42px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ffffff;
  font-size: 16px;
}
header nav .btns button:nth-child(2) {
  display: none;
}
@media screen and (max-width: 992px) {
  header nav .btns button:nth-child(2) {
    display: flex;
  }
}

main {
  min-height: calc(100vh - 130px);
  margin: 0;
}
main.main_fixed {
  margin-top: 130px;
}
@media screen and (max-width: 992px) {
  main.main_fixed {
    margin-top: 174px;
  }
}
main .companies {
  padding: 42px 0;
}
@media screen and (max-width: 992px) {
  main .companies {
    padding: 32px 0;
  }
}
main .companies .img {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  overflow: hidden;
  aspect-ratio: 1/1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main .companies .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .companies h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #0c2b4b;
}
main .companies p {
  text-align: justify;
  line-height: 24px;
}
main .companies ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
main .companies ul li {
  margin-inline-end: 8px;
  line-height: 24px;
  color: #0c2b4b;
}
main .about {
  padding: 42px 0;
}
@media screen and (max-width: 992px) {
  main .about {
    padding: 32px 0;
  }
}
main .about .title {
  font-weight: bold;
  color: #0c2b4b;
  font-size: 24px;
}
main .about .info {
  padding: 24px;
}
main .about .info p {
  text-align: justify;
}
@media screen and (max-width: 992px) {
  main .about .info {
    padding: 16px 0;
  }
}
main .about .info a {
  color: #5bb12f;
  border: 1px solid #5bb12f;
  padding: 12px 32px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
main .about .info a:hover {
  background: #5bb12f;
  color: #ffffff;
}
main .about .info .statistic {
  padding: 8px 0;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}
main .about .info .statistic .counterUp {
  font-weight: bold;
  font-size: 100px;
  background: rgba(167, 169, 172, 0.062745098);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 1px #a7a9ac;
  font-family: "Manrope Alt", Sans-serif;
}
@media (max-width: 768px) {
  main .about .info .statistic .counterUp {
    font-size: 70px;
  }
}
main .about .info .statistic h6 {
  font-weight: bold;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  max-height: 100px;
  text-align: center;
  transform: scaleX(-1) scaleY(-1);
}
main .about .row:nth-child(2n) {
  flex-direction: row-reverse;
}
main .about .lazyImg {
  position: relative;
  height: 100%;
}
main .about .lazyImg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border: 10px solid #f4f4f4;
  width: 100%;
  height: 90%;
  transform: translateY(-50%);
}
main .about .lazyImg .lazyDiv {
  height: 100%;
  margin: auto;
}
main .about .lazyImg .lazyDiv .simpleParallax {
  height: 100%;
}
main .about .lazyImg .lazyDiv img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 85%;
  -o-object-position: top;
     object-position: top;
}
main .about .about_card {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  height: 100%;
}
main .about .about_card p {
  text-align: justify;
  line-height: 24px;
  color: #999999;
  margin: 0;
  font-size: 14px;
}
main .about .about_card .img-title {
  display: flex;
  align-items: center;
  gap: 16px;
  align-items: center;
  margin-bottom: 12px;
}
main .about .about_card .img-title img {
  height: 42px;
}
main .about .about_card .img-title h3 {
  margin: 0;
  font-size: 28px;
  color: #5bb12f;
}
main .about .about_card .image {
  width: 100%;
  height: 100%;
}
main .about .about_card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
}
main .services {
  padding: 42px 0;
}
@media screen and (max-width: 992px) {
  main .services {
    padding: 32px 0;
  }
}
main .services h1 {
  font-size: 28px;
  text-align: center;
  color: #0c2b4b;
  margin-bottom: 4px;
}
main .services p {
  text-align: center;
}
main .services .about_service h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #0c2b4b;
}
main .services .about_service p {
  text-align: justify;
  line-height: 24px;
}
main .services .about_service ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
main .services .about_service ul li {
  margin-inline-end: 8px;
  line-height: 24px;
  color: #0c2b4b;
}
main .services .swiper {
  height: 100%;
}
main .services .swiper .swiper-slide {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
main .services .swiper .swiper-slide img {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sectors {
  padding: 42px 0;
}
@media screen and (max-width: 992px) {
  main .sectors {
    padding: 32px 0;
  }
}
main .sectors h1 {
  font-size: 28px;
  text-align: center;
  color: #0c2b4b;
  margin-bottom: 4px;
}
main .sectors p {
  text-align: center;
}
main .sectors .sector_card {
  width: 100%;
}
main .sectors .sector_card .inner_card {
  border-radius: 16px;
  overflow: hidden !important;
  position: relative;
}
main .sectors .sector_card .inner_card .sector_img {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
main .sectors .sector_card .inner_card .sector_img img {
  display: block;
  transform: scale(1.1);
  transition: all 0.4s ease;
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sectors .sector_card .inner_card .sector_content {
  bottom: 0;
  right: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s ease;
  border-radius: 16px;
  padding: 24px;
  background: linear-gradient(180deg, #0c2b4b, rgba(12, 43, 75, 0.4352941176));
}
main .sectors .sector_card .inner_card .sector_content h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 4px;
}
main .sectors .sector_card .inner_card .sector_content p {
  text-align: start;
  color: #ffffff;
  font-size: 14px;
}
main .sectors .sector_card .inner_card:hover .sector_img img {
  transform: scale(1.15) rotate(-1deg);
}
main .sectors .flipCard {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  perspective: 1000px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .sectors .flipCard .cardFront {
  width: 100%;
  height: 100%;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
main .sectors .flipCard .cardFront .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  gap: 4px;
}
main .sectors .flipCard .cardFront .content .title {
  font-size: 20px;
  color: #ffffff;
}
main .sectors .flipCard .cardFront .time {
  display: flex;
  gap: 24px;
}
main .sectors .flipCard .cardFront .time p {
  color: #ffffff;
  font-size: 14px;
}
main .sectors .flipCard .cardFront .time p i {
  margin-left: 4px;
}
main .sectors .flipCard .cardBack {
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
main .sectors .flipCard .cardBack .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .sectors .flipCard .cardBack .content .sponser {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
main .sectors .flipCard .cardBack .content img {
  height: 32px;
}
main .sectors .flipCard .cardBack .content h2 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 0;
  color: #0c2b4b;
  font-weight: 600;
}
main .sectors .flipCard .cardBack .content h2 img {
  height: 24px;
  margin-left: 8px;
}
main .sectors .flipCard .cardBack .content p {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin: 0;
}
main .sectors .flipCard .cardBack .content h6 {
  margin: 0;
  font-weight: 600;
  color: #0c2b4b;
}
main .sectors .flipCard .cardBack .content li {
  line-height: 28px;
}
main .sectors .flipCard:hover {
  z-index: 2;
}
main .sectors .flipCard:hover .cardFront {
  transform: rotateY(-180deg);
}
main .sectors .flipCard:hover .cardBack {
  transform: rotateY(0deg);
}
main .jobs {
  padding: 42px 0;
}
@media screen and (max-width: 992px) {
  main .jobs {
    padding: 32px 0;
  }
}
main .jobs h1 {
  font-size: 24px;
  color: #0c2b4b;
}
main .jobs p a {
  color: #5bb12f;
}
main .jobs .apply_form {
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
}
main .contact {
  padding: 42px 0;
}
@media screen and (max-width: 992px) {
  main .contact {
    padding: 32px 0;
  }
}
main .contact .contact_info {
  padding-inline-end: 12px;
  background: #ffffff;
  background-image: url("../images/bg-pattern-1.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 24px 16px;
  height: 100%;
}
main .contact .contact_info h3 {
  color: #0c2b4b;
  font-size: 28px;
}
main .contact .contact_info h4 {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  color: #0c2b4b;
}
main .contact .branch_row {
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
}
main .contact .branch_row iframe {
  height: 100%;
  min-height: 250px;
}
main .contact .branch_row .about_branch h3 {
  font-size: 24px;
  color: #5bb12f;
  margin-bottom: 8px;
}
main .contact .branch_row .about_branch ul {
  display: flex;
  flex-direction: column;
}
main .contact .branch_row .about_branch ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 24px;
  color: #999999;
}
main .contact .branch_row .about_branch ul li b {
  color: #0c2b4b;
}
main .contact .branch_row .about_branch ul li span {
  display: flex;
  justify-content: center;
  width: 26px;
}
main .contact .branch_row .about_branch ul li a {
  line-height: 26px;
}
main .contact .branch_row .about_branch ul li a:hover {
  transition: all 0.3s ease-in-out;
  color: #5bb12f;
}

.form .input_field {
  display: flex;
  flex-direction: column;
}
.form .input_field input,
.form .input_field select,
.form .input_field textarea {
  border: none;
  background: none;
  outline: none;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #eee;
  color: #999999;
  padding-inline-start: 16px;
  padding: 8px;
}
.form .input_field input::-moz-placeholder, .form .input_field select::-moz-placeholder, .form .input_field textarea::-moz-placeholder {
  color: #bebebe;
}
.form .input_field input::placeholder,
.form .input_field select::placeholder,
.form .input_field textarea::placeholder {
  color: #bebebe;
}
.form .input_field textarea {
  height: 120px;
}
.form button {
  border: none;
  background: none;
  outline: none;
  margin-top: 8px;
  padding: 4px 24px;
  background: #0c2b4b;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
}

footer {
  background-image: linear-gradient(rgba(12, 43, 75, 0.8509803922), #0c2b4b), url("../images/footer_bg.jpg");
  background-size: cover;
  background-position: top;
  padding: 40px 0 0;
}
footer .about_company {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .about_company .logo img {
  height: 80px;
  filter: brightness(0) invert(1);
}
footer .about_company .text p {
  color: #bebebe;
  font-size: 14px;
  margin-inline-end: 40px;
  line-height: 26px;
}
@media screen and (max-width: 576px) {
  footer .about_company .text p {
    margin-inline-end: 0;
  }
}
footer .col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .col h3 {
  color: #ffffff;
  position: relative;
  margin-bottom: 14px;
  font-size: 22px;
}
footer .col h3::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  background: #ffffff;
  top: 36px;
}
footer .col ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .col ul li {
  line-height: 24px;
}
footer .col ul li i {
  margin-top: 4px;
  margin-inline-end: 4px;
  font-size: 18px;
}
footer .col ul li p {
  line-height: 24px;
}
footer .col ul li a {
  display: flex;
  gap: 4px;
  color: #bebebe;
  transition: 0.2s ease-in-out;
}
footer .col ul li a:hover {
  color: #ffffff;
}
footer .col ul .footer_post {
  display: flex;
  gap: 12px;
}
footer .col ul .footer_post .img {
  aspect-ratio: 3/2;
  max-width: 80px;
}
footer .col ul .footer_post .img img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
footer .copy_rights {
  border-top: 1px solid #bebebe;
  padding: 28px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  footer .copy_rights {
    flex-direction: column-reverse;
    gap: 12px;
  }
}
footer .copy_rights p,
footer .copy_rights a {
  color: #bebebe;
}
footer .copy_rights p {
  text-align: center;
}
@media screen and (max-width: 576px) {
  footer .copy_rights p {
    font-size: 12px;
  }
}
footer .copy_rights .social_media ul {
  display: flex;
  gap: 12px;
}
footer .copy_rights .social_media ul a {
  border: 1px solid #bebebe;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: 0.2s ease-in-out;
  color: #bebebe;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copy_rights .social_media ul a i {
  font-size: 14px;
}
footer .copy_rights .social_media ul a:hover {
  background: #0c2b4b;
  border-color: #0c2b4b;
  transform: translateY(-2px);
}
footer .copy_rights .social_media ul a:hover i {
  color: #ffffff;
}
footer .copy_rights .social_media ul a:hover svg path {
  fill: #ffffff;
}/*# sourceMappingURL=style.css.map */