@font-face {
  font-family: 'Din';
  src: url('../webfonts/din-next-lt-w23-regular.ttf');
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  direction: rtl;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Din', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body {
  overflow-x: hidden;
  position: relative;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
button,
a {
  color: #000;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background: #999999;
  height: 300px;
}
:target {
  scroll-margin-top: 100px;
}
.filepond--credits {
  display: none !important;
}
.filepond--file {
  direction: ltr !important;
}
.filepond--root {
  margin: 0;
}
.filepond--drop-label.filepond--drop-label label {
  font-size: 14px;
}
// variables
$main: #0c2b4b;
$second: #5bb12f;
$white: #ffffff;
$text: #999999;
$stroke: #f4f4f4;
$border: #eee;
$light_bg: #fafafa;
$shadow: 0 0 10px rgba(0, 0, 0, .1);
$transition: all .3s ease-in-out;
// animations
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.accordion-button {
  box-shadow: none !important;
  padding: 16px 16px;
}
.accordion {
  border: none !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none !important;
}
.accordion-item {
  border-radius: 12px !important;
  overflow: auto;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: $second;
}
.accordion-button {
  text-align: start;
  .form-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    input {
      box-shadow: none !important;
    }
  }
  &::after {
    content: "\f107";
    font-family: "Font Awesome 6 pro";
    background-image: none;
    transform: none !important;
    margin-left: 0;
    margin-right: auto;
  }
  &:not(.collapsed)::after {
    content: "\f106";
    background: none;
  }
}
.accordion-body {
  padding: 0 12px 12px;
  p {
    color: $text;
    font-size: 16px;
    a {
      color: $second;
    }
  }
  b {
    font-size: 14px;
    color: $main;
  }
}
// header
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $white;
  position: relative;
  z-index: 9;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: $shadow;
    animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
    .company_info_bar {
      padding: 0;
      height: 0;
      overflow: hidden;
    }
  }
  .company_info_bar {
    background: $main;
    height: 50px;
    width: 100%;
    padding: 12px;
    .container {
      @include space-between();
      height: 100%;
      padding: 0;
      .social_media ul {
        display: flex;
        align-items: center;
        gap: 12px;
        a {
          width: 30px;
          height: 30px;
          color: $white;
          @include centerFlex();
          border-radius: 50%;
          border: 1px solid $white;
          transition: $transition;
          i {
            font-size: 14px;
          }
          &:hover {
            background: $white;
            color: $main;
          }
        }
      }
      .contact_info ul {
        display: flex;
        align-items: center;
        gap: 24px;
        a {
          color: $white;
        }
        i {
          color: $white;
          font-size: 16px;
        }
      }
      @media screen and (max-width: 480px) {
        flex-direction: column;
        gap: 8px;
      }
    }
    @media screen and (max-width: 480px) {
      height: auto;
    }
  }
  nav {
    height: 80px;
    display: flex;
    padding: 0 12px !important;
    .logo {
      height: 100%;
      display: flex;
      align-items: center;
      flex: 1;
      img {
        height: 50px;
      }
    }
    .navigation_links {
      flex: 3;
      height: 100%;
      .nav_menu {
        display: flex;
        height: 100%;
        li {
          flex: 1;
          @include centerFlex();
          a {
            color: $main;
            font-size: 16px;
            transition: $transition;
            &.active {
              color: $second;
            }
            &:hover {
              color: $second;
            }
          }
        }
      }
      @media (max-width: 992px) {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 50%;
        background: #fff;
        right: -50%;
        padding: 40px 0;
        transition: $transition;
        ul {
          flex-direction: column;
          li {
            max-height: 60px;
          }
        }
        &.show {
          right: 0;
        }
      }
    }
    .btns {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;
      .toggle_menu {
        width: 26px;
        height: 26px;
        position: relative;
        transform: rotate(0deg);
        transition: $transition;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: $white;
          border-radius: 20px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: $transition;
          &:nth-child(1) {
            top: 6px;
          }
          &:nth-child(2),
          &:nth-child(3) {
            top: 12px;
          }
          &:nth-child(4) {
            top: 18px;
          }
        }
        &.open {
          span {
            &:nth-child(1) {
              top: 12px;
              width: 0%;
              left: 50%;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
            &:nth-child(4) {
              top: 12px;
              width: 0%;
              left: 50%;
            }
          }
        }
      }
      button {
        @include clearInput();
        @include centerFlex();
        background: $second;
        border-radius: 4px;
        width: 42px;
        height: 36px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: $white;
        font-size: 16px;
        &:nth-child(2) {
          display: none;
          @media screen and (max-width: 992px) {
            display: flex;
          }
        }
      }
    }
  }
}
// main
main {
  min-height: calc(100vh - 130px);
  margin: 0;
  &.main_fixed {
    margin-top: 130px;
    @media screen and (max-width: 992px) {
      margin-top: 174px;
    }
  }
  .services {
    padding: 42px 0;
    @media screen and (max-width: 992px) {
      padding: 32px 0;
    }
    h1 {
      font-size: 28px;
      text-align: center;
      color: $main;
      margin-bottom: 4px;
    }
    p {
      text-align: center;
    }
    .about_service {
      h3 {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;
        font-size: 20px;
        color: $main;
      }
      p {
        text-align: start;
        line-height: 24px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        li {
          margin-inline-end: 8px;
          line-height: 24px;
          color: $main;
        }
      }
    }
    .swiper {
      height: 100%;
      .swiper-slide {
        height: 100%;
        border-radius: 16px;
        img {
          border-radius: 16px;
          width: 100%;
          aspect-ratio: 3 / 2;
          object-fit: cover;
        }
      }
    }
  }
  .sectors {
    padding: 42px 0;
    @media screen and (max-width: 992px) {
      padding: 32px 0;
    }
    h1 {
      font-size: 28px;
      text-align: center;
      color: $main;
      margin-bottom: 4px;
    }
    p {
      text-align: center;
    }
    .sector_card {
      width: 100%;
      .inner_card {
        border-radius: 16px;
        overflow: hidden !important;
        position: relative;
        .sector_img {
          position: relative;
          width: 100%;
          border-radius: 16px;
          overflow: hidden;
          img {
            display: block;
            transform: scale(1.1);
            transition: all 0.4s ease;
            width: 100%;
            aspect-ratio: 3 / 2;
            object-fit: cover;
          }
        }
        .sector_content {
          bottom: 0;
          right: 0;
          position: absolute;
          left: 0;
          top: 0;
          transition: all 0.4s ease;
          border-radius: 16px;
          padding: 24px;
          background: linear-gradient(180deg, #0c2b4b, #0c2b4b6f);
          h4 {
            font-size: 18px;
            color: $white;
            margin-bottom: 4px;
          }
          p {
            text-align: start;
            color: $white;
            font-size: 14px;
          }
        }
        &:hover {
          .sector_img img {
            transform: scale(1.15) rotate(-1deg);
          }
        }
      }
    }
    .flipCard {
      width: 100%;
      height: 300px;
      @include centerFlex();
      position: relative;
      flex-shrink: 0;
      perspective: 1000px;
      user-select: none;
      .cardFront {
        width: 100%;
        height: 100%;
        padding: 24px;
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-size: cover !important;
        background-position: top !important;
        background-repeat: no-repeat !important;
        backface-visibility: hidden;
        transform: rotateY(0deg);
        transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        .content {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-top: auto;
          gap: 4px;
          .title {
            font-size: 20px;
            color: $white;
          }
        }
        .time {
          display: flex;
          gap: 24px;
          p {
            color: $white;
            font-size: 14px;
            i {
              margin-left: 4px;
            }
          }
        }
      }
      .cardBack {
        padding: 20px;
        position: absolute;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        box-shadow: $shadow;
        background-color: $white;
        .content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 12px;
          .sponser {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
          }
          img {
            height: 32px;
          }
          h2 {
            font-size: 18px;
            margin-top: 8px;
            margin-bottom: 0;
            color: $main;
            font-weight: 600;
            img {
              height: 24px;
              margin-left: 8px;
            }
          }
          p {
            font-size: 14px;
            line-height: 24px;
            color: $text;
            margin: 0;
          }
          h6 {
            margin: 0;
            font-weight: 600;
            color: $main;
          }
          li {
            line-height: 28px;
          }
        }
      }
      &:hover {
        z-index: 2;
        .cardFront {
          transform: rotateY(-180deg);
        }
        .cardBack {
          transform: rotateY(0deg);
        }
      }
    }
  }
  .jobs {
    padding: 42px 0;
    @media screen and (max-width: 992px) {
      padding: 32px 0;
    }
    h1 {
      font-size: 24px;
      color: $main;
    }
    p  a {
      color: $second;
    }
    .apply_form {
      background: $white;
      padding: 16px;
      border-radius: 8px;
    }
  }
  .contact {
    padding: 42px 0;
    @media screen and (max-width: 992px) {
      padding: 32px 0;
    }
    .contact_info {
      padding-inline-end: 12px;
      background: $white;
      background-image: url("../images/bg-pattern-1.png");
      background-repeat: no-repeat;
      border-radius: 8px;
      padding: 24px 16px;
      height: 100%;
      h3 {
        color: $main;
        font-size: 28px;
      }
      h4 {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 18px;
        color: $main;
      }
    }
    .branch_row {
      background: $white;
      padding: 16px;
      border-radius: 8px;
      iframe {
        height: 100%;
        min-height: 250px;
      }
      .about_branch {
        h3 {
          font-size: 24px;
          color: $second;
          margin-bottom: 8px;
        }
        ul {
          display: flex;
          flex-direction: column;
          li {
            display: flex;
            align-items: center;
            gap: 8px;
            line-height: 24px;
            color: $text;
            b {
              color: $main;
            }
            span {
              display: flex;
              justify-content: center;
              width: 26px;
            }
            a {
              line-height: 26px;
              &:hover {
                transition: $transition;
                color: $second;
              }
            }
          }
        }
      }
    }
  }
}
.form {
  .input_field {
    display: flex;
    flex-direction: column;
    input,
    select,
    textarea {
      @include clearInput();
      height: 42px;
      border-radius: 8px;
      border: 1px solid $border;
      color: $text;
      padding-inline-start: 16px;
      padding: 8px;
      &::placeholder {
        color: #bebebe;
      }
    }
    textarea {
      height: 120px;
    }
  }
  button {
    @include clearInput();
    margin-top: 8px;
    padding: 4px 24px;
    background: $main;
    border-radius: 8px;
    color: $white;
    font-size: 16px;
  }
}
// footer
footer {
  background-image: linear-gradient(#0c2b4bd9, #0c2b4b),
    url("../images/footer_bg.jpg");
  background-size: cover;
  background-position: top;
  padding: 40px 0 0;
  .about_company {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .logo {
      img {
        height: 80px;
        filter: brightness(0) invert(1);
      }
    }
    .text {
      p {
        color: #bebebe;
        font-size: 14px;
        margin-inline-end: 40px;
        line-height: 26px;
        @media screen and (max-width: 576px) {
          margin-inline-end: 0;
        }
      }
    }
  }
  .col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h3 {
      color: $white;
      position: relative;
      margin-bottom: 14px;
      font-size: 22px;
      &::before {
        content: "";
        position: absolute;
        width: 20%;
        height: 3px;
        background: $white;
        top: 36px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        line-height: 24px;
        i {
          margin-top: 4px;
          margin-inline-end: 4px;
          font-size: 18px;
        }
        p {
          line-height: 24px;
        }
        a {
          display: flex;
          gap: 4px;
          color: #bebebe;
          transition: 0.2s ease-in-out;
          &:hover {
            color: $white;
          }
        }
      }
      .footer_post {
        display: flex;
        gap: 12px;
        .img {
          aspect-ratio: 3 / 2;
          max-width: 80px;
          img {
            object-fit: fill;
            height: 100%;
            width: 100%;
            border-radius: 4px;
          }
        }
      }
    }
  }
  .copy_rights {
    border-top: 1px solid #bebebe;
    padding: 28px 0 20px;
    @include space-between();
    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      gap: 12px;
    }
    p,
    a {
      color: #bebebe;
    }
    p {
      text-align: center;
      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
    }
    .social_media {
      ul {
        display: flex;
        gap: 12px;
        a {
          border: 1px solid #bebebe;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          transition: 0.2s ease-in-out;
          color: #bebebe;
          @include centerFlex();
          i {
            font-size: 14px;
          }
          &:hover {
            background: $main;
            border-color: $main;
            transform: translateY(-2px);
            i {
              color: $white;
            }
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }
}
